* {
  padding: 0;
  margin: 0;
}

.nav-section {
  width: 100%;
  position: fixed;
  margin-top: -240px;
  height: 70px;
  background-color: white;
}

.logo img {
  width: 130px;
  margin-top: 16px;
  margin-left: 100px;
}

.nav-cont {
  max-width: 1500px;
  display: flex;
  margin-top: -40px;
  float: right;
  font-size: 20px;
  cursor: pointer;
  color: #674b7c;
  margin-right: 100px;
}

.sign {
  margin-right: 16px;
}

.hero-section {
  max-width: 900px;
  margin-top: 240px;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
  color: #674b7c;
}

.hero-para {
  max-width: 450px;
  color: black;
  font-family: sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 5px;
}

button {
  height: 40px;
  width: 150px;
  margin-top: 30px;
  border: none;
  background-color: #674b7c;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  font-style: italic;
  margin-bottom: 150px;
  box-shadow: 6px 6px 0 0 #fdf06f;
}

.hero-telegram {
  float: right;
  margin-top: -115px;
}

.sec-section {
  /* max-width: 1500px; */
  width: 100%;
  margin-top: 130px;
  height: 1250px;
  background-color: #fffde7;
}

.multi-section {
  max-width: 750px;
  margin-left: 230px;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

h3 {
  margin-top: 35px;
  width: 150px;
  font-size: 18px;
  font-family: sans-serif;
}

.writting {
  background-color: #674b7c;
  height: 80px;
  width: 80px;
  border-radius: 90px;
  margin-top: 90px;
}

.writting img {
  margin-top: 25px;
  margin-left: 25px;
}

.work {
  background-color: #674b7c;
  height: 80px;
  width: 80px;
  border-radius: 90px;
  margin-top: 90px;
}

.work img {
  margin-top: 20px;
  margin-left: 20px;
}

.receive {
  background-color: #674b7c;
  height: 80px;
  width: 80px;
  border-radius: 90px;
  margin-top: 90px;
}

.receive img {
  margin-top: 20px;
  margin-left: 25px;
}

.sec-section p {
  font-size: 16px;
  width: 270px;
  font-weight: 300;
  margin-top: 7px;
  line-height: 25px;
  font-family: sans-serif;
}

.dash {
  max-width: 1175px;;
  margin-top: 190px;
  margin-left: 100px;
  color: gray;
  margin-bottom: 120px;
  border: 1px dashed gray;
}

.third-sec {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.image img {
  max-width: 600px;
  height: 650px;
  margin-top: 30px;
}

.white-page {
  height: 530px;
  max-width: 600px;
  background-color: white;
  position: absolute;
  left: 46%;
  margin-right: auto;
  margin-top: -590px;
}

.white-page h1 {
  font-style: italic;
  font-size: 40px;
  color: #674b7c;
  max-width: 400px;
  margin-left: 70px;
  margin-right: auto;
  padding-top: 60px;
}

.white-page p {
  font-family: sans-serif;
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 15px;
  line-height: 30px;
  font-size: 18px;
  max-width: 430px;
  width: 100%;
}

.white-page span {
  padding-top: 20px;
}

.button {
  width: 120px;
  margin-left: 70px;
}

.four-sec {
  max-width: 1000px;
  margin-right: auto;
  margin-top: 90px;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
}

.heading_sec h1 {
  color: #674b7c;
  font-style: italic;
  max-width: 350px;
  font-size: 40px;
}

.four-sec img {
  height: 60px;
  width: 60px;
}

.four-sec h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.four-sec p {
  font-family: sans-serif;
  font-size: 18px;
  margin-top: 6px;
}

.shipping_2 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

.shipping_2 img {
  height: 60px;
  width: 60px;
  margin-top: 30px;
}

.shipping_2 h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.shipping_2 p {
  font-family: sans-serif;
  font-size: 18px;
  margin-top: 6px;
}

.design_sec {
  position: relative;
  left: 45%;
}

.design_sec p {
  width: 190px;
  line-height: 30px;
}

.faq_sec {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  margin-bottom: 100px;
}

.faq_sec h1 {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  color: #674b7c;
  font-size: 35px;
  margin-bottom: 50px;
}

.faq_sec p {
  margin-top: 15px;
  font-size: 17px;
  max-width: 760px;
  line-height: 25px;
  margin-bottom: 50px;
}

.faq_sec h2 {
  font-size: 19px;
}

.five_sec {
  /* max-width: 1500px; */
  width: 100%;
  height: 450px;
  background-color: #674b7c;
  text-align: center;
  color: white;
}

.five_sec h1 {
  padding-top: 90px;
  font-style: italic;
  font-size: 40px;
  padding-bottom: 30px;
}

.five_sec p {
  font-family: sans-serif;
  font-size: 16px;
  max-width: 720px;
  line-height: 25px;
  margin-left: auto;
  margin-right: auto;
}

.draft-button {
  color: #674b7c;
  width: 200px;
  background-color: white;
  margin-top: 40px;
}

.tiny_sec h3 {
  max-width: 1500px;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  margin-top: 100px;
  margin-bottom: 60px;
}

.images {
  max-width: 1500px;
}

.first-image-sec {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
}

.first-image-sec img {
  height: 250px;
  width: 280px;
}

.second-image-sec {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
}

.second-image-sec img {
  height: 250px;
  width: 280px;
}

.insta-button {
  position: relative;
  left: 40%;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
}

.six_sec {
  /* max-width: 1500px; */
  width: 100%;
  height: 390px;
  background-color: #fffde7;
}

.six_sec h1 {
  font-style: italic;
  font-size: 35px;
  color: #674b7c;
  padding-top: 110px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.six_sec h3 {
  max-width: 800px;
  width: 100%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  margin-top: 20px;
}

.six_sec p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}

.six_sec h5 {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-top: 50px;
  font-size: 18px;
  color: #674b7c;
  cursor: pointer;
}

.third-image-sec {
  margin-left: auto;
  margin-right: auto;
  max-width: 420px;
  cursor: pointer;
  margin-top: -110px;
}
.seven_sec {
  height: 300px;
  /* max-width: 1500px; */
  width: 100%;
  background-color: #674b7c;
  color: white;
  margin-top: 81px;
}

.seven_sec img {
  height: 115px;
  width: 115px;
  padding-top: 40px;
  margin-left: 170px;
  cursor: pointer;
}

.seven_sec h3 {
  color: #fdf06f;
  font-style: italic;
  margin-left: 190px;
  margin-top: -30px;
  text-decoration: underline;
  cursor: pointer;
}

.image-2 {
  margin-top: -70px;
}

.blog {
  margin-top: -150px;
  font-size: 17px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  cursor: pointer;
}
.blog a{
  color: white;
  text-decoration: none;
}
.term {
  margin-top: 22px;
  font-size: 17px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  position: relative;
  left: 25.5%;
  margin-right: auto;
  max-width: 720px;
  cursor: pointer;
}
.term a{
  color: white;
  text-decoration: none;
}
 
.number {
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}
.number a{
  color: white;
  text-decoration: none;
}
/* -------------------MOBILE RESPONSIVE------------------ */
@media only screen and (max-width: 600px) {
  .logo img {
    height: 60px;
    width: 80px;
    margin-left: 13px;
    margin-top: 113px;
  }

  .nav-cont {
    font-size: 18px;
    margin-top: -45px;
    max-width: 370px;
    margin-right: 15px;
  }

  .sign {

    margin-left: 50px;
  }

  .hero-section h1 {
    font-size: 39px;
    margin-left: 20px;
    margin-top: -120px;
  }

  .hero-section p {
    font-size: 18px;
    margin-left: 20px;
    max-width: 310px;
    color: gray;
  }

  button {
    height: 40px;
    width: 160px;
    font-size: 17px;
    margin-left: 17px;
    margin-top: 25px;
  }

  .hero-telegram img {
    display: none;
  }

  .sec-section {
    margin-top: -50px;
    max-width: 380px;
    width: 100%;
    height: 600px;
  }

  .multi-section {
    display: inline-block;
  }

  .sec-section img {
    width: 40px;
    height: 30px;
    margin-top: 22px;
    margin-left: 15px;
  }

  .sec-section h3 {
    font-size: 20px;
  }

  .sec-section p {
    font-size: 16px;
    max-width: 150px;
    line-height: 20px;
    color: gray;
  }

  .writting {
    margin-left: -215px;
    height: 70px;
    width: 70px;
  }

  .work {
    height: 70px;
    width: 70px;
    margin-left: -60px;
    margin-top: -65px;
  }

  .receive {
    margin-top: 170px;
    height: 70px;
    width: 70px;
    margin-left: -210px;
  }

  .dash {
    display: none;
  }

  .image img {
    min-width: 310px;
    width: 100%;
    height: 450px;
    margin-top: 65px;
    margin-left: 0px;
  }
  .white-page {
    margin-top: -20px;
    margin-left: -220px;
     padding-bottom: 60px;
  }
   .white-page h1{
    max-width: 300px;
   }
  .white-page p {
    max-width: 290px;
    line-height: 25px;
    color: gray;
  }

  .button {
    margin-left: 70px;
    width: 140px;
    overflow: auto;
  }
  .four-sec {
    margin-top: 1070px;
    max-width: 320px;
    margin-left: 10px;
  }

  .four-sec h1 {
    font-size: 29px;
    max-width: 300px;
    margin-left: 10px;
    margin-bottom: 40px;
  }

  .four-sec img {
    height: 60px;
    width: 60px;
  }

  .four-sec h4 {
    font-size: 20px;
    max-width: 120px;
  }

  .four-sec p {
    font-size: 17px;
    width: 140px;
    color: gray;
  }
  .shipping_sec {
    margin-top: 130px;
    margin-left: -340px;
  }

  .refund_sec {
    margin-top: 130px;
  }

  .shipping_2 {
    max-width: 350px;
    margin-left: -10px;
    margin-top: 10px;
  }

  .shipping_2 img {
    height: 60px;
    width: 60px;
  }

  .shipping_2 h4 {
    font-size: 20px;
  }

  .shipping_2 p {
    font-size: 17px;
    width: 120px;
    line-height: 25px;
    color: gray;
  }
   .tracking_sec{
    margin-left: 150px;
   }
  .design_sec {
    margin-left: -120px;
  }

  .faq_sec {
    max-width: 350px;
    margin-top: 100px;
    margin-left: 15px;
  }

  .faq_sec h1 {
    font-size: 27px;
    margin-bottom: 40px;
  }

  .faq_sec h2 {
    font-size: 20px;
    max-width: 340px;
  }

  .faq_sec p {
    font-size: 16px;
    max-width: 330px;
    color: gray;
  }

  .five_sec {
    height: 550px;
    max-width: 390px;
  }

  .five_sec h1 {
    font-size: 32px;
    max-width: 300px;
    margin-left: 40px;
  }

  .five_sec p {
    font-size: 16px;
    max-width: 330px;
    line-height: 25pX;
  }

  .draft-button {
    margin-top: 30px;
    width: 220px;
  }

  .tiny_sec h3 {
    font-size: 20px;
    margin-left: -10px;
    margin-top: 70px;
  }

  .images img {
    max-width: 300px;
    width: 90%;
    margin-top: 30px;
    margin-left: 30px;
  }

  .first-image-sec {
    margin-top: -60px;
    display: inline-block;
  }

  .second-image-sec {
    display: inline-block;
    margin-top: 10px;
  }

  .insta-button {
    margin-left: -90px;
    width: 220px;
    margin-top: -10px;
    margin-bottom: 70px;
  }

  .six_sec {
    max-width: 380px;
    width: 100%;
    height: 260px;
    overflow: hidden;
  }

  .six_sec h1 {
    font-size: 33px;
    margin-left: 15px;
    padding-top: 40px;
  }

  .six_sec h3 {
    font-size: 17px;
    margin-left: 15px;
    margin-top: 10px;
  }

  .six_sec p {
    margin-left: 15px;
    max-width: 350px;
    font-size: 17px;
    line-height: 25px;
  }

  .six_sec h5 {
    font-size: 16px;
    margin-left: 15px;
    margin-top: -30px;
  }

  .third-image-sec {
    margin-left: 150px;
    margin-top: -65px;
  }

  .third-image-sec img {
    height: 25px;
    margin-left: 40px;
  }

  .seven_sec {
    max-width: 390px;
     width: 100%;
    height: 525px;
    margin-top: 38px;
  }
   .blogs{
    margin-top: -470px;
    overflow: hidden;
   }
  .blog {
    margin-top: -120px;
    max-width: 370px;
    margin-left: 35px;
  display: inline;
  }
  .pin{
    margin-left: 35px;
  }
  .blog a{
     margin-right: 20px;
  line-height: 40px;
  }
  .term{
    margin-left: -65px;
    display: inline-block;
    max-width: 280px;
    margin-top: -5px;
    
  }
  .term a{
    margin-right: 14px;
    margin-top: -290px;
    line-height: 40px;
  }
  .number {
    margin-left: 230px;
    margin-top: -30px;
  }

  .seven_sec h4 {
    font-size: 15px;
    margin-right: 5px;
    line-height: 30px;
  }

  .seven_sec img {
    margin-left: 80px;
    width: 190px;
    height: 210px;
    margin-top: 180px;
  }

  .seven_sec h3 {
    margin-left: 150px;
    font-size: 14px;
    margin-top: -60px;
  }

  .image-2 img {
    margin-top: -50px;
    width: 150px;
    margin-left: 110px;
  }
}

/*--------------------------- TABLET RESPONSIVE---------------------- */
@media only screen and (min-width: 580px) and (max-width: 1024px) {
  .logo img {
    height: 160px;
    width: 160px;
  }

  .logo {
    margin-top: -40px;
    margin-left: -60px;
  }

  .nav-cont {
    margin-top: -110px;
    font-size: 22px;
    margin-right: 60px;
  }

  .hero-section h1 {
    margin-left: 30px;
  }

  .hero-telegram {
    display: none;
  }

  .hero-para {
    margin-left: 30px;
    max-width: 500px;
  }

  button {
    margin-left: 30px;
  }

  .sec-section {
    min-width: 1000px;
    width: 100%;
  }

  .multi-section {
    margin-left: 30px;
  }

  .sec-section p {
    max-width: 220px;
  }

  .work {
    margin-left: -20px;
  }

  .receive {
    margin-right: 140px;
  }

  .dash {
    display: none;
  }

  .image img {
    margin-top: 280px;
    height: 800px;
    margin-left: 60px;
    max-width: 800px;
  }

  .white-page {
    max-width: 900px;
    margin-top: 10px;
    margin-left: -390px;
    height: 300px;
  }

  .letter h1 {
    max-width: 1000px;
  }

  .white-page p {
    max-width: 670px;
  }

  .four-sec {
    margin-top: 500px;
  }

  .heading_sec {
    max-width: 250px;
    margin-left: 40px;
  }

  .four-sec h4 {
    font-size: 18px;
    max-width: 100px;
  }

  .four-sec p {
    max-width: 190px;
  }

  .shipping_2 h4 {
    font-size: 18px;
  }

  .shipping_2 p {
    max-width: 170px;
  }

  .faq_sec {
    margin-left: 50px;
  }

  .faq_sec p {
    max-width: 689px;
  }

  .five_sec {
    min-width: 1000px;
    width: 100%;
  }

  .five_sec p {
    font-size: 18px;
    max-width: 740px;
  }

  .draft-button {
    font-size: 18px;
  }

  .tiny_sec h3 {
    font-size: 25px;
    margin-left: 100px;
  }

  .images {
    max-width: 1000px;
  }

  .images img {
    height: 400px;
    min-width: 400px;
    margin-top: 30px;
  }

  .first-image-sec {
    display: inline-block;
    margin-left: 80px;
  }

  .second-image-sec {
    display: inline-block;
    margin-left: 420px;
    margin-top: -1300px;
    margin-right: 40px;
    margin-left: 520px;
  }

  .six_sec {
    min-width: 1000px;
    width: 100%;
  }

  .six_sec h1 {
    font-size: 50px;
    margin-left: 40px;
  }

  .six_sec h3 {
    margin-left: 40px;
    font-size: 25px;
  }

  .six_sec p {
    margin-left: 40px;
    font-size: 20px;
  }

  .six_sec h5 {
    font-size: 25px;
    margin-left: 40px;
  }

  .insta-button {
    font-size: 20px;
    width: 270px;
  }

  .third-image-sec {
    margin-left: 300px;
    margin-top: -130px;
  }

  .seven_sec {
    min-width: 1000px;
    width: 100%;
  }

  .seven_sec img {
    margin-left: 40px;
    height: 100px;
    width: 80px;
  }

  .seven_sec h3 {
    margin-left: 40px;
    font-size: 22px;
  }

  .blog {
    font-size: 20px;
  }

  .term {
    font-size: 15px;
    margin-left: -80px;
  }
   

  .number {
    font-size: 20px;
  }
}